<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b192b22-01c6-47c4-bde9-49d8fda085e3" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-23T14:59:40</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>