<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fa75bb2-8f48-459e-91ef-47d174769c69" Alias="s3.png" Level="2">
  <Info>
    <Parent Key="52efa350-20c1-4961-bec2-6f9e6dc6f268">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/s3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T16:57:45</CreateDate>
    <NodeName Default="s3.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hwipdcjb/s3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>