<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5d019d6-9d48-4230-adf3-650d4f6416cf" Alias="Backgrounds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Backgrounds</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T15:29:23</CreateDate>
    <NodeName Default="Backgrounds" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>