<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8cb77d0-d7f4-43c8-8745-e5d3561ac2ad" Alias="bg-primary.png" Level="2">
  <Info>
    <Parent Key="d5d019d6-9d48-4230-adf3-650d4f6416cf">Backgrounds</Parent>
    <Path>/Backgrounds/bgPrimarypng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T17:14:17</CreateDate>
    <NodeName Default="bg-primary.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l44j05u3/bg-primary.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>