<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea7d47ca-1c83-42b0-b050-c7fbf9ff928b" Alias="Brand.png" Level="2">
  <Info>
    <Parent Key="acd7a48e-e68e-42c7-a093-150712cbaa74">Images</Parent>
    <Path>/Images/Brandpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:34:42</CreateDate>
    <NodeName Default="Brand.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iwgdwxhk/brand.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>