<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7ce67a0-b20c-47b4-8f56-2ee3c8aaa79f" Alias="Brand.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T23:56:24</CreateDate>
    <NodeName Default="Brand.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/f4wjqulf/brand.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>