<?xml version="1.0" encoding="utf-8"?>
<Media Key="88c87eaa-2881-45c8-93eb-d9c083153951" Alias="client-img.png" Level="2">
  <Info>
    <Parent Key="acd7a48e-e68e-42c7-a093-150712cbaa74">Images</Parent>
    <Path>/Images/clientImgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:31:23</CreateDate>
    <NodeName Default="client-img.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ew0i2pxi/client-img.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>