<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcdab66b-153f-433a-bfa5-4d226b7cd7b1" Alias="contact-bg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/contactBg</Path>
    <Trashed Parent="acd7a48e-e68e-42c7-a093-150712cbaa74">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T14:34:15</CreateDate>
    <NodeName Default="contact-bg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2r4jycsw/contactimg-bg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>