<?xml version="1.0" encoding="utf-8"?>
<Media Key="11a0e33c-c9bf-4a89-acae-d87c0fdd6da1" Alias="contact-bg" Level="2">
  <Info>
    <Parent Key="d5d019d6-9d48-4230-adf3-650d4f6416cf">Backgrounds</Parent>
    <Path>/Backgrounds/contactBg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T15:39:42</CreateDate>
    <NodeName Default="contact-bg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/wmupnj4w/contactimg-bg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>