<?xml version="1.0" encoding="utf-8"?>
<Media Key="758b987b-80a6-4cb9-853b-1df69dd1920a" Alias="hero-bg.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroBgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T14:10:39</CreateDate>
    <NodeName Default="hero-bg.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4rjm1q4p/hero-bg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>