<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d19eec1-d737-40c3-a167-00141200dc75" Alias="hero.bg.png" Level="2">
  <Info>
    <Parent Key="d5d019d6-9d48-4230-adf3-650d4f6416cf">Backgrounds</Parent>
    <Path>/Backgrounds/herobgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T16:44:43</CreateDate>
    <NodeName Default="hero.bg.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jysf5s04/herobg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>