<?xml version="1.0" encoding="utf-8"?>
<Media Key="acd7a48e-e68e-42c7-a093-150712cbaa74" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T15:30:35</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>