<?xml version="1.0" encoding="utf-8"?>
<Media Key="80e44ee0-5ebc-4e3f-ae32-ee5383bf2f85" Alias="m1.png" Level="2">
  <Info>
    <Parent Key="39b53cb7-30b1-4921-956d-b33dbbe1a761">Team Members</Parent>
    <Path>/TeamMembers/m1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T15:53:24</CreateDate>
    <NodeName Default="m1.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n4ckenwv/m1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>