<?xml version="1.0" encoding="utf-8"?>
<Media Key="22614c2d-a49f-430e-8c03-b0f2a68c6b41" Alias="m2.png" Level="2">
  <Info>
    <Parent Key="39b53cb7-30b1-4921-956d-b33dbbe1a761">Team Members</Parent>
    <Path>/TeamMembers/m2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T15:53:24</CreateDate>
    <NodeName Default="m2.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ukdcpfhw/m2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>