<?xml version="1.0" encoding="utf-8"?>
<Media Key="23c5adb2-6e8d-4d58-bf0e-a7b67fe77a8b" Alias="m2.png" Level="2">
  <Info>
    <Parent Key="2e2927c3-1ddc-4016-8c1f-fbaa7d88fe74">Team Members</Parent>
    <Path>/TeamMembers/m2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:37:51</CreateDate>
    <NodeName Default="m2.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hvtjhfpe/m2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>