<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9437689-323f-4f90-bdca-7c6f90825a56" Alias="m3.png" Level="2">
  <Info>
    <Parent Key="39b53cb7-30b1-4921-956d-b33dbbe1a761">Team Members</Parent>
    <Path>/TeamMembers/m3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T15:53:24</CreateDate>
    <NodeName Default="m3.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/a04akt0w/m3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>