<?xml version="1.0" encoding="utf-8"?>
<Media Key="d55685e0-29df-4acc-8ac5-959fad10f015" Alias="m3.png" Level="2">
  <Info>
    <Parent Key="2e2927c3-1ddc-4016-8c1f-fbaa7d88fe74">Team Members</Parent>
    <Path>/TeamMembers/m3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:37:51</CreateDate>
    <NodeName Default="m3.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n3hbay3w/m3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>