<?xml version="1.0" encoding="utf-8"?>
<Media Key="58c15380-7a49-43b1-9005-55239070fca3" Alias="m6.png" Level="2">
  <Info>
    <Parent Key="2e2927c3-1ddc-4016-8c1f-fbaa7d88fe74">Team Members</Parent>
    <Path>/TeamMembers/m6png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:37:51</CreateDate>
    <NodeName Default="m6.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/b4mjp1ra/m6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>