<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4afebb5-433c-4650-8f61-3199f4997ed7" Alias="m7.png" Level="2">
  <Info>
    <Parent Key="39b53cb7-30b1-4921-956d-b33dbbe1a761">Team Members</Parent>
    <Path>/TeamMembers/m7png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T15:53:25</CreateDate>
    <NodeName Default="m7.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hiqpsasv/m7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>