<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a1718f2-bdae-4db0-8107-f19409cacbab" Alias="p1.png" Level="2">
  <Info>
    <Parent Key="8f9c1cae-02d9-43ff-b5be-d86c610f3830">Partners</Parent>
    <Path>/Partners/p1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T03:05:18</CreateDate>
    <NodeName Default="p1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pxjfdxgh/p1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>