<?xml version="1.0" encoding="utf-8"?>
<Media Key="4286d832-a90e-4c90-a999-e2fbed33d74b" Alias="p1.png" Level="2">
  <Info>
    <Parent Key="c1859e43-240d-4b4e-a0cb-87a432933445">Partners</Parent>
    <Path>/Partners/p1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:32:10</CreateDate>
    <NodeName Default="p1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xujmb3dh/p1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>