<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce0cfc47-e84d-4532-9a8f-2e284b2c8d72" Alias="p2.png" Level="2">
  <Info>
    <Parent Key="8f9c1cae-02d9-43ff-b5be-d86c610f3830">Partners</Parent>
    <Path>/Partners/p2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T03:05:18</CreateDate>
    <NodeName Default="p2.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/za1eu4be/p2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>