<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf41ad67-160e-4e25-8ac5-b35143dcc29a" Alias="p2.png" Level="2">
  <Info>
    <Parent Key="c1859e43-240d-4b4e-a0cb-87a432933445">Partners</Parent>
    <Path>/Partners/p2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:32:10</CreateDate>
    <NodeName Default="p2.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3btbo4lh/p2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>