<?xml version="1.0" encoding="utf-8"?>
<Media Key="7eb954b6-6701-4564-af22-9e530a55bfef" Alias="p3.png" Level="2">
  <Info>
    <Parent Key="c1859e43-240d-4b4e-a0cb-87a432933445">Partners</Parent>
    <Path>/Partners/p3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:32:10</CreateDate>
    <NodeName Default="p3.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hgpp5sdi/p3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>