<?xml version="1.0" encoding="utf-8"?>
<Media Key="70f42a2b-45e7-4332-8c1f-94139cd24fb8" Alias="p4.png" Level="2">
  <Info>
    <Parent Key="c1859e43-240d-4b4e-a0cb-87a432933445">Partners</Parent>
    <Path>/Partners/p4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:32:10</CreateDate>
    <NodeName Default="p4.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/utqlfruo/p4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>