<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bb8cc6a-d2ae-4b35-9a6e-5c2a5d1bea79" Alias="p6.png" Level="2">
  <Info>
    <Parent Key="c1859e43-240d-4b4e-a0cb-87a432933445">Partners</Parent>
    <Path>/Partners/p6png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:32:10</CreateDate>
    <NodeName Default="p6.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2udp3toh/p6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>