<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1859e43-240d-4b4e-a0cb-87a432933445" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T15:32:03</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties />
</Media>