<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f9c1cae-02d9-43ff-b5be-d86c610f3830" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T03:05:00</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>