<?xml version="1.0" encoding="utf-8"?>
<Media Key="943d6432-ff49-40ea-b736-befbaecf5dcb" Alias="s2.png" Level="2">
  <Info>
    <Parent Key="1c98f3b4-a162-4ef1-9b82-f252f75f04e6">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/s2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:35:23</CreateDate>
    <NodeName Default="s2.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xwxhwira/s2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>