<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb19c791-8553-445f-9ddd-fe0a26a80ef7" Alias="s3.png" Level="2">
  <Info>
    <Parent Key="1c98f3b4-a162-4ef1-9b82-f252f75f04e6">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/s3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:35:23</CreateDate>
    <NodeName Default="s3.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dygf4dj0/s3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>