<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c98f3b4-a162-4ef1-9b82-f252f75f04e6" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T15:33:33</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties />
</Media>