<?xml version="1.0" encoding="utf-8"?>
<Media Key="52efa350-20c1-4961-bec2-6f9e6dc6f268" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T16:56:28</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>