<?xml version="1.0" encoding="utf-8"?>
<Media Key="b596434e-abff-47fd-ac56-079ef8a4c444" Alias="servicedetailimg.png" Level="2">
  <Info>
    <Parent Key="acd7a48e-e68e-42c7-a093-150712cbaa74">Images</Parent>
    <Path>/Images/servicedetailimgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T21:17:59</CreateDate>
    <NodeName Default="servicedetailimg.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ygenaa2w/servicedetailimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>