<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e4d62ff-1987-4e36-9ad5-d319eed9d254" Alias="signature.png" Level="2">
  <Info>
    <Parent Key="acd7a48e-e68e-42c7-a093-150712cbaa74">Images</Parent>
    <Path>/Images/signaturepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:31:00</CreateDate>
    <NodeName Default="signature.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ocuaxcho/signature.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>