<?xml version="1.0" encoding="utf-8"?>
<Media Key="5dfbc7ba-e74f-440c-ac61-86aa52d7957f" Alias="signature.png" Level="2">
  <Info>
    <Parent Key="6b192b22-01c6-47c4-bde9-49d8fda085e3">Images</Parent>
    <Path>/Images/signaturepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T03:02:59</CreateDate>
    <NodeName Default="signature.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gugl10zg/signature.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>