<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad4bb131-3e50-4ae3-84c0-605998d08cb5" Alias="successimg.png" Level="2">
  <Info>
    <Parent Key="6b192b22-01c6-47c4-bde9-49d8fda085e3">Images</Parent>
    <Path>/Images/successimgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T03:07:06</CreateDate>
    <NodeName Default="successimg.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xz3b0gzz/successimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>