<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7351a5e-8c11-4bfc-b15d-955b4ed37713" Alias="successimg.png" Level="2">
  <Info>
    <Parent Key="acd7a48e-e68e-42c7-a093-150712cbaa74">Images</Parent>
    <Path>/Images/successimgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T15:31:37</CreateDate>
    <NodeName Default="successimg.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0hihgaly/successimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>