<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e2927c3-1ddc-4016-8c1f-fbaa7d88fe74" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T15:35:01</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>