<?xml version="1.0" encoding="utf-8"?>
<Content Key="4658e2bd-504e-4a9d-bbb4-af3ffaa46d80" Alias="About" Level="2">
  <Info>
    <Parent Key="a0229e1c-012f-4f28-9a6a-2b98e1c8a1c9">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-21T15:56:52</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="be3ade34-cb21-458d-a56f-3aa26c34a0a7">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c3b2cfe7-124c-403a-aa2f-5e5215b78c78",
      "key": "62323c08-8ea5-46f3-821b-4506b7fd71d9",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003EA team of professionals\u003C/h3\u003E\u003Ch3 style=\u0022text-align: center\u0022\u003Ewith years of experience\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "4fc1bcde-af79-4fee-808b-3edeafc14cf8",
                "key": "a46baca5-1519-4c2b-8ab9-97bfd216dd2d",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "981e2606-b13b-4676-a69a-25c6a83c6cb6",
                        "mediaKey": "80e44ee0-5ebc-4e3f-ae32-ee5383bf2f85",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "4fc1bcde-af79-4fee-808b-3edeafc14cf8",
                "key": "4acfabdb-66fa-4c9a-8f18-1c14e37f5278",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "248435f8-2acd-44b8-af75-52c3404d0d7f",
                        "mediaKey": "22614c2d-a49f-430e-8c03-b0f2a68c6b41",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "4fc1bcde-af79-4fee-808b-3edeafc14cf8",
                "key": "9717ccdb-8753-4893-8561-7e589b68d9bc",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "621a2b43-f18b-4643-bd83-008481b2048d",
                        "mediaKey": "f9437689-323f-4f90-bdca-7c6f90825a56",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "4fc1bcde-af79-4fee-808b-3edeafc14cf8",
                "key": "ba355614-b2f9-4f4f-84a8-c2643e24830b",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3ea0e6a3-8561-40ae-928c-5e002478c656",
                        "mediaKey": "6b62c873-e31a-4bd2-ad7e-a7153194bfa9",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "4fc1bcde-af79-4fee-808b-3edeafc14cf8",
                "key": "087a5e28-1001-4752-b65c-8f59b062e982",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c2160858-09b4-4d7d-ad56-6e7c957a779b",
                        "mediaKey": "c04d3883-b61f-46a7-a46b-64bc93689485",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "4fc1bcde-af79-4fee-808b-3edeafc14cf8",
                "key": "849c4c40-9e80-48a8-a12c-fcddae45399a",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "752bf8b5-3d53-4b74-a134-b2d46b39d438",
                        "mediaKey": "b4afebb5-433c-4650-8f61-3199f4997ed7",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "4fc1bcde-af79-4fee-808b-3edeafc14cf8",
                "key": "d031cce2-0c6c-4db4-8503-40882d6fca4d",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6aef4d52-49eb-4192-bdd5-d9f43ff69db0",
                        "mediaKey": "90072940-512c-4b93-b943-f24840b422af",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a46baca5-1519-4c2b-8ab9-97bfd216dd2d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4acfabdb-66fa-4c9a-8f18-1c14e37f5278",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9717ccdb-8753-4893-8561-7e589b68d9bc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ba355614-b2f9-4f4f-84a8-c2643e24830b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "087a5e28-1001-4752-b65c-8f59b062e982",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "849c4c40-9e80-48a8-a12c-fcddae45399a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d031cce2-0c6c-4db4-8503-40882d6fca4d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a46baca5-1519-4c2b-8ab9-97bfd216dd2d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4acfabdb-66fa-4c9a-8f18-1c14e37f5278",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9717ccdb-8753-4893-8561-7e589b68d9bc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ba355614-b2f9-4f4f-84a8-c2643e24830b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "087a5e28-1001-4752-b65c-8f59b062e982",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "849c4c40-9e80-48a8-a12c-fcddae45399a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d031cce2-0c6c-4db4-8503-40882d6fca4d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "62323c08-8ea5-46f3-821b-4506b7fd71d9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "62323c08-8ea5-46f3-821b-4506b7fd71d9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>