<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0229e1c-012f-4f28-9a6a-2b98e1c8a1c9" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <CreateDate>2025-10-20T14:10:46</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b501f723-09ba-4180-b67d-25fc47a3c0e4">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "05acd94f-7dc0-4f2d-a5d2-21546f03f7a3",
      "key": "5f07a1e6-fc71-49ad-bd56-710886c848a1",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring \u003Cbr\u003E success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 16px; white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/0ac3fb543af047db87c6dfd25989a52e",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "690282b8-1161-4fcb-b05f-9edbb504f9fd",
              "mediaKey": "758b987b-80a6-4cb9-853b-1df69dd1920a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "31daab7b-31f4-4844-a8db-6a42ebc844d0",
      "key": "768424aa-c326-4bca-9d1f-9395f287d513",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services "
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003EWe Provide The Solutions \u003C/h3\u003E\u003Ch3 style=\u0022text-align: center\u0022\u003ETo Grow Your Business Faster\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "b5a2e1be-ce2f-49f2-9abe-a725d70f3499",
      "key": "cf7201c0-79e8-4a36-99bb-ecae9f21906d",
      "udi": null,
      "values": [
        {
          "alias": "aboutTeaserLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "aboutTeaserTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3\u003EWe have 40 years experience\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutTeaserCitation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cem\u003E\u003Cspan style=\u0022font-size: 12pt;\u0022\u003E\u0022We have over 25 years of experience providing expert financial advice to both businesses and individuals\u0022\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutTeaserBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 14px; white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "signatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2dd19b68-8adb-47ba-bc6b-2020a10acef7",
              "mediaKey": "5dfbc7ba-e74f-440c-ac61-86aa52d7957f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "signatureName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        }
      ]
    },
    {
      "contentTypeKey": "eac6dad7-70fe-41a6-a9e9-9579c0476d5d",
      "key": "7be077ff-0d68-4c3b-9884-42bafcde4dd2",
      "udi": null,
      "values": [
        {
          "alias": "clientTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "titleHighlighted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4.000\u002B clients"
        },
        {
          "alias": "clientBodyText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022font-size: 16px; white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "clientLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/4658e2bd504e4a9dbbb4af3ffaa46d80",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "clientImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a8b727e6-71ff-43d1-afa4-b36e0e192634",
              "mediaKey": "193281cc-9355-46ed-93ef-5a1220df0cb8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "9f8dc3e6-6d4d-44ee-bbc1-744cff5e861f",
      "key": "2e9ac31c-86e9-4d48-8768-7d9d8238aa0e",
      "udi": null,
      "values": [
        {
          "alias": "successTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "successImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "31e96b2f-19da-4bf0-8b20-38796b47f0ff",
              "mediaKey": "ad4bb131-3e50-4ae3-84c0-605998d08cb5",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "successStats",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "595b21e3-267b-4e2a-a575-3896f69cd5ea",
                "key": "c74a690c-ea36-43fe-b226-ebebf7b73629",
                "udi": null,
                "values": [
                  {
                    "alias": "statDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  },
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  },
                  {
                    "alias": "successItemTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Customers"
                  }
                ]
              },
              {
                "contentTypeKey": "595b21e3-267b-4e2a-a575-3896f69cd5ea",
                "key": "54bcccf9-57f9-43f9-8de7-e4bc0990cb4e",
                "udi": null,
                "values": [
                  {
                    "alias": "statDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  },
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  },
                  {
                    "alias": "successItemTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Projects"
                  }
                ]
              },
              {
                "contentTypeKey": "595b21e3-267b-4e2a-a575-3896f69cd5ea",
                "key": "d235e56f-6a75-4083-9117-2e16d334e9f3",
                "udi": null,
                "values": [
                  {
                    "alias": "statDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  },
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  },
                  {
                    "alias": "successItemTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Branches"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "c74a690c-ea36-43fe-b226-ebebf7b73629",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "54bcccf9-57f9-43f9-8de7-e4bc0990cb4e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d235e56f-6a75-4083-9117-2e16d334e9f3",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "c74a690c-ea36-43fe-b226-ebebf7b73629",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "54bcccf9-57f9-43f9-8de7-e4bc0990cb4e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d235e56f-6a75-4083-9117-2e16d334e9f3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "successLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success Stories"
        }
      ]
    },
    {
      "contentTypeKey": "19f0d484-a84e-4a86-b76f-ba3bc1ea462f",
      "key": "af4dcdef-6e2e-407d-957e-d5a51abbf99e",
      "udi": null,
      "values": [
        {
          "alias": "partnerLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Partner Section"
        },
        {
          "alias": "partnerList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
                "key": "f6bb1a25-eff5-433c-8f90-bfabca462569",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FreedomBird"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3a0a5a82-6d66-4b22-ac0a-c8ff2a5f2411",
                        "mediaKey": "6a1718f2-bdae-4db0-8107-f19409cacbab",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Freedombird",
                        "target": null,
                        "udi": "umb://document/a0229e1c012f4f289a6a2b98e1c8a1c9",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
                "key": "fd1d8a7f-47a8-421d-9e67-284158aeaf33",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8bf9e7ed-0fb4-4aff-a18b-e5ca59a85e96",
                        "mediaKey": "ce0cfc47-e84d-4532-9a8f-2e284b2c8d72",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
                "key": "7ad4156e-eed2-4b49-a48d-58535d023c0d",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6c9ded23-693b-4658-a243-5bc1af8e79fe",
                        "mediaKey": "354ab274-48a4-4197-b977-8b3de1ba38e3",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Natural",
                        "target": null,
                        "udi": "umb://document/a0229e1c012f4f289a6a2b98e1c8a1c9",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
                "key": "6562f073-3431-4f31-bdc8-29980f8a79d1",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7315e89e-fda4-4304-9ba2-019c4f28b03e",
                        "mediaKey": "5daf9486-48b9-484f-9bcf-d784dc668a87",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Simepleaf",
                        "target": null,
                        "udi": "umb://document/a0229e1c012f4f289a6a2b98e1c8a1c9",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
                "key": "95cb620a-11b8-4db2-b995-874c1c85d59b",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6ec155a8-6545-4ad1-a170-30673d2f8a36",
                        "mediaKey": "7c5ea5ee-2bf3-417b-b623-86e8acb3ea71",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Globe",
                        "target": null,
                        "udi": "umb://document/a0229e1c012f4f289a6a2b98e1c8a1c9",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
                "key": "9684aa2a-0b66-4910-882a-d9b6d7f72f8c",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "FossilGroup",
                        "target": null,
                        "udi": "umb://document/a0229e1c012f4f289a6a2b98e1c8a1c9",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FossilGroup"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f155061e-712d-4f48-9620-bb4001fe861f",
                        "mediaKey": "d7860de0-1737-4c0b-a5f0-337d6c385936",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "f6bb1a25-eff5-433c-8f90-bfabca462569",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "fd1d8a7f-47a8-421d-9e67-284158aeaf33",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7ad4156e-eed2-4b49-a48d-58535d023c0d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6562f073-3431-4f31-bdc8-29980f8a79d1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "95cb620a-11b8-4db2-b995-874c1c85d59b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9684aa2a-0b66-4910-882a-d9b6d7f72f8c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "f6bb1a25-eff5-433c-8f90-bfabca462569",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "fd1d8a7f-47a8-421d-9e67-284158aeaf33",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7ad4156e-eed2-4b49-a48d-58535d023c0d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6562f073-3431-4f31-bdc8-29980f8a79d1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "95cb620a-11b8-4db2-b995-874c1c85d59b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9684aa2a-0b66-4910-882a-d9b6d7f72f8c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "2f3b92a2-cc16-4351-9808-ecff0cd3514a",
      "key": "41bb459f-db73-46df-b0ad-ab9810622dc7",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "5f07a1e6-fc71-49ad-bd56-710886c848a1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "768424aa-c326-4bca-9d1f-9395f287d513",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cf7201c0-79e8-4a36-99bb-ecae9f21906d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7be077ff-0d68-4c3b-9884-42bafcde4dd2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2e9ac31c-86e9-4d48-8768-7d9d8238aa0e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "af4dcdef-6e2e-407d-957e-d5a51abbf99e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5f07a1e6-fc71-49ad-bd56-710886c848a1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cf7201c0-79e8-4a36-99bb-ecae9f21906d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "768424aa-c326-4bca-9d1f-9395f287d513",
        "contentUdi": null,
        "settingsKey": "41bb459f-db73-46df-b0ad-ab9810622dc7",
        "settingsUdi": null
      },
      {
        "contentKey": "7be077ff-0d68-4c3b-9884-42bafcde4dd2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2e9ac31c-86e9-4d48-8768-7d9d8238aa0e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "af4dcdef-6e2e-407d-957e-d5a51abbf99e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>