<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed91515c-96f7-4866-ab0f-61d46f032271" Alias="2025-10-30 19:46 - test@domain.com" Level="2">
  <Info>
    <Parent Key="e45eb771-c4bf-4db9-af8e-e07f46bf065b">Form Submissions</Parent>
    <Path>/FormSubmissions/testDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>helpRequest</ContentType>
    <CreateDate>2025-10-30T19:46:13</CreateDate>
    <NodeName Default="2025-10-30 19:46 - test@domain.com" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </helpRequestEmail>
  </Properties>
</Content>