<?xml version="1.0" encoding="utf-8"?>
<Content Key="f73576d2-4f83-40cc-95a1-9faacd7bcb9e" Alias="2025-11-10 21:51 - Myka Sulin" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MykaSulin</Path>
    <Trashed Parent="e45eb771-c4bf-4db9-af8e-e07f46bf065b">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T21:51:08</CreateDate>
    <NodeName Default="2025-11-10 21:51 - Myka Sulin" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[msulin0329@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Myka Sulin]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0760830171]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>