<?xml version="1.0" encoding="utf-8"?>
<Content Key="1995628e-324e-4db7-b512-e3fc1ba6f316" Alias="2025-10-29 16:09 - Myka Sulin" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MykaSulin</Path>
    <Trashed Parent="e45eb771-c4bf-4db9-af8e-e07f46bf065b">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-29T16:09:01</CreateDate>
    <NodeName Default="2025-10-29 16:09 - Myka Sulin" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[facebook@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Myka Sulin]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[323343434]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>