<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a67a104-2753-42ee-b65b-080750d87ca1" Alias="2025-10-29 16:32 - Test Name" Level="2">
  <Info>
    <Parent Key="e45eb771-c4bf-4db9-af8e-e07f46bf065b">Form Submissions</Parent>
    <Path>/FormSubmissions/TestName</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-29T16:32:28</CreateDate>
    <NodeName Default="2025-10-29 16:32 - Test Name" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test Name]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123456789]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>