<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ac3fb54-3af0-47db-87c6-dfd25989a52e" Alias="Contact" Level="2">
  <Info>
    <Parent Key="a0229e1c-012f-4f28-9a6a-2b98e1c8a1c9">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-20T17:51:10</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="84ab91b8-acb5-4aed-bfba-3f58b885ef49">ContactPage</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>