<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9791eb4-2cee-4200-b4f1-6fc8189f251a" Alias="Contact Info" Level="2">
  <Info>
    <Parent Key="d9f8fa52-1900-4d88-96fa-a2152f6ae689">Shared Content</Parent>
    <Path>/SharedContent/ContactInfo</Path>
    <Trashed>false</Trashed>
    <ContentType>contactInfo</ContentType>
    <CreateDate>2025-10-27T04:12:24</CreateDate>
    <NodeName Default="Contact Info" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <addressLabel>
      <Value><![CDATA[Office Location]]></Value>
    </addressLabel>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactBgDot>
      <Value><![CDATA[[
  {
    "key": "a47590a6-734d-409c-8dec-0ca44ab01954",
    "mediaKey": "5195dda2-6867-4c92-8ed4-a202e4060a22",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBgDot>
    <contactBgGreen>
      <Value><![CDATA[[
  {
    "key": "f54f645b-afc7-4866-9900-e4a3e6dd6849",
    "mediaKey": "c8cb77d0-d7f4-43c8-8745-e5d3561ac2ad",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBgGreen>
    <contactBgImage>
      <Value><![CDATA[[
  {
    "key": "b435addb-fb11-4fca-a6e5-3a8810a49521",
    "mediaKey": "11a0e33c-c9bf-4a89-acae-d87c0fdd6da1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBgImage>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <contactTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactTitle>
    <emailLabel>
      <Value><![CDATA[E-mail address]]></Value>
    </emailLabel>
    <phoneLabel>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Phone Number"
}]]></Value>
    </phoneLabel>
  </Properties>
</Content>