<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9791eb4-2cee-4200-b4f1-6fc8189f251a" Alias="Contact Info" Level="2">
  <Info>
    <Parent Key="d9f8fa52-1900-4d88-96fa-a2152f6ae689">Shared Content</Parent>
    <Path>/SharedContent/ContactInfo</Path>
    <Trashed>false</Trashed>
    <ContentType>contactInfo</ContentType>
    <CreateDate>2025-10-27T04:12:24</CreateDate>
    <NodeName Default="Contact Info" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <addressLabel>
      <Value><![CDATA[Office Location]]></Value>
    </addressLabel>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <contactTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactTitle>
    <emailLabel>
      <Value><![CDATA[E-mail address]]></Value>
    </emailLabel>
    <phoneLabel>
      <Value><![CDATA[Phone Number]]></Value>
    </phoneLabel>
  </Properties>
</Content>