<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab09383d-55da-4caf-95ef-0c63171fc513" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="e38d3b28-2302-4d35-9981-137562879007">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-22T16:58:03</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bbe74cf2-9c2f-4c4c-b46d-c3120a0c3208">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
}]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9773d25d-cb50-4d0e-8805-0d8964895535",
      "key": "204381cd-0c81-4b08-b6f7-df6c73f79e31",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "204381cd-0c81-4b08-b6f7-df6c73f79e31",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "204381cd-0c81-4b08-b6f7-df6c73f79e31",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailsAsides>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "9600d8b7-b7b9-4f2c-95a1-36cdd040039d",
    "mediaKey": "65ec41dc-76a9-4c92-b6bd-528155d2e96d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>