<?xml version="1.0" encoding="utf-8"?>
<Content Key="d87d4088-47d3-4856-b911-31a8721ab45c" Alias="Global - Partners" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/GlobalPartners</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>partners</ContentType>
    <CreateDate>2025-10-27T02:02:07</CreateDate>
    <NodeName Default="Global - Partners" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <partnerList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "key": "68e84e7c-53ff-4a7a-b28e-c62b61901150",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "FreedomBird"
        },
        {
          "alias": "partnerLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "21926026-fe6a-4510-a465-332784bea31f",
              "mediaKey": "4286d832-a90e-4c90-a999-e2fbed33d74b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "key": "b11299ed-14fc-4b5f-af5d-47fe92514d72",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Identity"
        },
        {
          "alias": "partnerLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "930fc85a-0016-4de3-8910-5a8d9ad62fd3",
              "mediaKey": "cf41ad67-160e-4e25-8ac5-b35143dcc29a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "key": "e445b89a-7db5-4656-bc74-1dd127dea6f8",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Natural"
        },
        {
          "alias": "partnerLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a87bee64-1862-46e3-a033-3254aaabaca5",
              "mediaKey": "7eb954b6-6701-4564-af22-9e530a55bfef",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "key": "7742982e-39c8-45cd-919a-92ec4ceda371",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Simpleaf"
        },
        {
          "alias": "partnerLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "870acc34-8c61-4ebe-977f-b4744208462e",
              "mediaKey": "70f42a2b-45e7-4332-8c1f-94139cd24fb8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "key": "04d3509b-c35c-45bf-a128-d2597c769b39",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Globe"
        },
        {
          "alias": "partnerLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0822feb4-7f5f-456f-8850-430507034725",
              "mediaKey": "e8186daa-d034-4f41-9757-1eca76cd2a48",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "key": "033351d4-1ec6-414b-9212-6c75ce0a5001",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fossil Group"
        },
        {
          "alias": "partnerLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cca408c3-5f58-4601-a34a-b77ed069a28a",
              "mediaKey": "7bb8cc6a-d2ae-4b35-9a6e-5c2a5d1bea79",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "68e84e7c-53ff-4a7a-b28e-c62b61901150",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b11299ed-14fc-4b5f-af5d-47fe92514d72",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e445b89a-7db5-4656-bc74-1dd127dea6f8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7742982e-39c8-45cd-919a-92ec4ceda371",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "04d3509b-c35c-45bf-a128-d2597c769b39",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "033351d4-1ec6-414b-9212-6c75ce0a5001",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "68e84e7c-53ff-4a7a-b28e-c62b61901150",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b11299ed-14fc-4b5f-af5d-47fe92514d72",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e445b89a-7db5-4656-bc74-1dd127dea6f8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7742982e-39c8-45cd-919a-92ec4ceda371",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "04d3509b-c35c-45bf-a128-d2597c769b39",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "033351d4-1ec6-414b-9212-6c75ce0a5001",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </partnerList>
  </Properties>
</Content>