<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f04f459-5494-480f-a995-17cc84010c9d" Alias="Partners" Level="2">
  <Info>
    <Parent Key="d9f8fa52-1900-4d88-96fa-a2152f6ae689">Shared Content</Parent>
    <Path>/SharedContent/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>partners</ContentType>
    <CreateDate>2025-10-27T04:15:39</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <partnerList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "key": "a74aac5f-885a-4ad3-8d12-dcd3c1d2d65d",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "FreedomBird"
        },
        {
          "alias": "partnerLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "efe88633-ecfb-4f47-a07d-1e455de0aa41",
              "mediaKey": "4286d832-a90e-4c90-a999-e2fbed33d74b",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "key": "d593701d-de3d-421c-8bd2-ed2b270fda38",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Identity"
        },
        {
          "alias": "partnerLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7f6849b7-5220-4f5e-ae49-a6abf95cba24",
              "mediaKey": "cf41ad67-160e-4e25-8ac5-b35143dcc29a",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "key": "11a2d607-1d66-4597-a528-679e7809a753",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Natural"
        },
        {
          "alias": "partnerLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "35e739d4-526d-4ab4-a974-6de99084a5c8",
              "mediaKey": "7eb954b6-6701-4564-af22-9e530a55bfef",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "key": "87ca48e3-b67a-4be5-9b5f-f400a16e2343",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Simpleaf"
        },
        {
          "alias": "partnerLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a385f7a2-356f-44ba-8ac3-8753f387c556",
              "mediaKey": "70f42a2b-45e7-4332-8c1f-94139cd24fb8",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "key": "abb80900-28c2-4c26-92e5-47563cf6efa7",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Globe"
        },
        {
          "alias": "partnerLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e80d1170-4cb4-41a4-94c0-fedb56edfaac",
              "mediaKey": "e8186daa-d034-4f41-9757-1eca76cd2a48",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "key": "e279658f-d31d-4b1d-91a7-ce7857e06a91",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fossil Group"
        },
        {
          "alias": "partnerLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8573f3c8-ba89-4298-a3e0-1d9fa45608e1",
              "mediaKey": "7bb8cc6a-d2ae-4b35-9a6e-5c2a5d1bea79",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a74aac5f-885a-4ad3-8d12-dcd3c1d2d65d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d593701d-de3d-421c-8bd2-ed2b270fda38",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "11a2d607-1d66-4597-a528-679e7809a753",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "87ca48e3-b67a-4be5-9b5f-f400a16e2343",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "abb80900-28c2-4c26-92e5-47563cf6efa7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e279658f-d31d-4b1d-91a7-ce7857e06a91",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a74aac5f-885a-4ad3-8d12-dcd3c1d2d65d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d593701d-de3d-421c-8bd2-ed2b270fda38",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "11a2d607-1d66-4597-a528-679e7809a753",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "87ca48e3-b67a-4be5-9b5f-f400a16e2343",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "abb80900-28c2-4c26-92e5-47563cf6efa7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e279658f-d31d-4b1d-91a7-ce7857e06a91",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </partnerList>
  </Properties>
</Content>