<?xml version="1.0" encoding="utf-8"?>
<Content Key="d66b04a5-79f3-4ff0-9da5-cc3cf8e6889f" Alias="Projects" Level="2">
  <Info>
    <Parent Key="a0229e1c-012f-4f28-9a6a-2b98e1c8a1c9">Onatrix</Parent>
    <Path>/Onatrix/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2025-10-23T02:29:33</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="eff35dd4-d93f-419f-b37d-955414101599">ProjectPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <projectTitle>
      <Value><![CDATA[]]></Value>
    </projectTitle>
  </Properties>
</Content>