<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b48dccf-aa0b-4c50-a1fa-5fd1486adc2a" Alias="Service Detail" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ServiceDetail</Path>
    <Trashed Parent="e38d3b28-2302-4d35-9981-137562879007">true</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-24T20:19:28</CreateDate>
    <NodeName Default="Service Detail" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bbe74cf2-9c2f-4c4c-b46d-c3120a0c3208">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=500\u0026amp;height=500\u0022 alt=\u0022s1.png\u0022 width=\u0022500\u0022 height=\u0022297\u0022 data-udi=\u0022umb://media/4399aad8766e4cbaa5416def6cb34d99\u0022\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-md font-bold\u0022\u003Ekey point\u003C/p\u003E\u003Cp class=\u0022text-rte-md font-bold\u0022\u003E\u003C/p\u003E\u003Cdiv\u003E\u003C/div\u003E\u003Cp class=\u0022text-rte-xs font-normal\u0022\u003EFinancial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-normal\u0022\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-md font-bold\u0022\u003EA financial plan is based on personal relationship\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 14px; white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9773d25d-cb50-4d0e-8805-0d8964895535",
      "key": "db25abfa-2db3-4481-86e6-2db9d38958f8",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "94a18b5f-ab9f-49f8-8df8-885c74d00833",
              "mediaKey": "000e6655-e3b5-437f-bca1-83e1404e7bc2",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 14px; white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "db25abfa-2db3-4481-86e6-2db9d38958f8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "db25abfa-2db3-4481-86e6-2db9d38958f8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailsAsides>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "18b92f5a-0a12-44d2-96d7-1dc56e7e1f03",
    "mediaKey": "000e6655-e3b5-437f-bca1-83e1404e7bc2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>