<?xml version="1.0" encoding="utf-8"?>
<Content Key="e38d3b28-2302-4d35-9981-137562879007" Alias="Services" Level="2">
  <Info>
    <Parent Key="a0229e1c-012f-4f28-9a6a-2b98e1c8a1c9">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-20T21:56:16</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f74b5193-88c1-4211-a36d-838101295987">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <Sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "31daab7b-31f4-4844-a8db-6a42ebc844d0",
      "key": "039277c5-604c-463a-8de1-87fdf17d4446",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003EWe Provide The Solutions\u003Cbr\u003ETo Grow Your Business Faster\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "2f3b92a2-cc16-4351-9808-ecff0cd3514a",
      "key": "13472553-4dcc-46cb-b6e4-fbf1250812d5",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "039277c5-604c-463a-8de1-87fdf17d4446",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "039277c5-604c-463a-8de1-87fdf17d4446",
        "contentUdi": null,
        "settingsKey": "13472553-4dcc-46cb-b6e4-fbf1250812d5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </Sections>
  </Properties>
</Content>