<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9f8fa52-1900-4d88-96fa-a2152f6ae689" Alias="Shared Content" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SharedContent</Path>
    <Trashed>false</Trashed>
    <ContentType>sharedContentMap</ContentType>
    <CreateDate>2025-10-27T04:10:38</CreateDate>
    <NodeName Default="Shared Content" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>