<?xml version="1.0" encoding="utf-8"?>
<Content Key="69438999-29e4-49b4-a220-4f9cc916d908" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-22T01:47:34</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactLabel>
      <Value><![CDATA[Office Location]]></Value>
    </contactLabel>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <contactTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactTitle>
    <copyrightText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </copyrightText>
    <creditName>
      <Value><![CDATA[Themesflat]]></Value>
    </creditName>
    <emailLabel>
      <Value><![CDATA[E-mail address]]></Value>
    </emailLabel>
    <phoneLabel>
      <Value><![CDATA[Phone number]]></Value>
    </phoneLabel>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "11922ad9-a131-4690-982b-8ca3518c8bc0",
      "key": "4359e08c-21e3-495a-b3c8-40fbc3da20ce",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "11922ad9-a131-4690-982b-8ca3518c8bc0",
      "key": "c44a5a15-85f4-4d61-881a-f7f0477ae455",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    },
    {
      "contentTypeKey": "11922ad9-a131-4690-982b-8ca3518c8bc0",
      "key": "7cd812de-7a1e-40d2-a55c-60e2ec5ef81c",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4359e08c-21e3-495a-b3c8-40fbc3da20ce",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c44a5a15-85f4-4d61-881a-f7f0477ae455",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7cd812de-7a1e-40d2-a55c-60e2ec5ef81c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4359e08c-21e3-495a-b3c8-40fbc3da20ce",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c44a5a15-85f4-4d61-881a-f7f0477ae455",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7cd812de-7a1e-40d2-a55c-60e2ec5ef81c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "27a107e6-9914-48c0-b780-8b06de81b23c",
    "mediaKey": "ea7d47ca-1c83-42b0-b050-c7fbf9ff928b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>