<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c082f15-271f-4f94-88e8-acc172222347" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="e38d3b28-2302-4d35-9981-137562879007">Services</Parent>
    <Path>/Onatrix/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-22T16:56:59</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bbe74cf2-9c2f-4c4c-b46d-c3120a0c3208">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/p\u003E"
}]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailsAsides>
    <serviceDetailSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "321ba16d-e41e-43a2-b81b-72a7fcb4e565",
      "key": "8935fba9-5e39-4474-ab50-cf65a6ca95f5",
      "udi": null,
      "values": [
        {
          "alias": "bgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        },
        {
          "alias": "contactSource",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/b9791eb42cee4200b4f16fc8189f251a"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "82a108b8-27f9-47e0-8c17-b80ccd0ee2e9",
      "key": "a59eb631-4256-483c-adf2-ace9be04e7b7",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "8935fba9-5e39-4474-ab50-cf65a6ca95f5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8935fba9-5e39-4474-ab50-cf65a6ca95f5",
        "contentUdi": null,
        "settingsKey": "a59eb631-4256-483c-adf2-ace9be04e7b7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailSection>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "aa875764-3aec-4b62-978c-a66233e4b872",
    "mediaKey": "000e6655-e3b5-437f-bca1-83e1404e7bc2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>