<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4760af6d-f30d-4708-a0b8-fabba4267c7e" Alias="Service Details Asides - List" Level="1">
  <Info>
    <Name>Service Details Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9773d25d-cb50-4d0e-8805-0d8964895535"
    }
  ]
}]]></Config>
</DataType>