<?xml version="1.0" encoding="utf-8"?>
<DataType Key="161244e2-e833-4e27-b09f-57c2707ef6af" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "11922ad9-a131-4690-982b-8ca3518c8bc0",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>