<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3e47937a-1f69-46b5-85eb-491221590695" Alias="formSubmissions" Level="2">
  <Info>
    <Name>Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8bfa9d15-bc5c-4319-8635-3c7d64583f5b" SortOrder="0">callbackRequest</ContentType>
    <ContentType Key="f293f184-046c-435f-a78a-081a6eb57409" SortOrder="1">helpRequest</ContentType>
    <ContentType Key="ec7934df-90ed-4b69-af85-ddd04cf52b73" SortOrder="2">questionRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>