<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="222f0a42-ab74-46eb-8641-a1a2038e1c1d" Alias="homepage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b501f723-09ba-4180-b67d-25fc47a3c0e4">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e11e8a1f-3a56-4d93-a59f-2b1dd9fc6263" SortOrder="0">contactPage</ContentType>
    <ContentType Key="7716f740-c5fb-4aeb-819a-ccea0ad0fa15" SortOrder="1">servicePage</ContentType>
    <ContentType Key="2c1eee03-5e02-4ad6-a6c4-d26a1d9a89f6" SortOrder="2">aboutPage</ContentType>
    <ContentType Key="0d5a1cba-b95b-4a78-ba9e-43ca490de67e" SortOrder="3">projectPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cb67bd3f-ac34-4d12-9a28-d6e21248d067</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>317cc095-9fdd-4cde-b349-8553d04dd098</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cd62fe1f-31ea-466d-b141-15a9a1fd0a3d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>