<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aca712be-ce8e-4c83-8cf7-eef51f05a695" Alias="About Page Sections" Level="1">
  <Info>
    <Name>About Page Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ab062739-6584-46cf-b0d3-e1ffa1662a01",
      "label": "About Intro Section"
    },
    {
      "contentElementTypeKey": "676ec4aa-1fdd-42c0-a2b9-df5c57acb7f7",
      "label": "Testimonial Section",
      "settingsElementTypeKey": "b4c14539-5c36-43c6-a9a2-6a84c5889014"
    },
    {
      "contentElementTypeKey": "c3b2cfe7-124c-403a-aa2f-5e5215b78c78",
      "label": "Team Section"
    },
    {
      "contentElementTypeKey": "321ba16d-e41e-43a2-b81b-72a7fcb4e565",
      "label": "Contact Info Section",
      "settingsElementTypeKey": "82a108b8-27f9-47e0-8c17-b80ccd0ee2e9"
    },
    {
      "contentElementTypeKey": "19f0d484-a84e-4a86-b76f-ba3bc1ea462f",
      "label": "Partner Section"
    }
  ]
}]]></Config>
</DataType>