<?xml version="1.0" encoding="utf-8"?>
<DataType Key="372a051c-e2c9-48ea-8542-4182aee80017" Alias="AboutCallbackSection" Level="1">
  <Info>
    <Name>AboutCallbackSection</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>