<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32631c18-b8fa-4542-8222-77a7afcae7bc" Alias="Callback Request Options" Level="1">
  <Info>
    <Name>Callback Request Options</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>