<?xml version="1.0" encoding="utf-8"?>
<DataType Key="317ce2a2-f383-473d-8ad3-b8ee6501d0ac" Alias="Contact Page Sections" Level="1">
  <Info>
    <Name>Contact Page Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "321ba16d-e41e-43a2-b81b-72a7fcb4e565",
      "label": "Contact Info Section",
      "settingsElementTypeKey": "82a108b8-27f9-47e0-8c17-b80ccd0ee2e9"
    },
    {
      "contentElementTypeKey": "19f0d484-a84e-4a86-b76f-ba3bc1ea462f",
      "label": "Partner Section"
    },
    {
      "contentElementTypeKey": "f2c5b1a6-109d-4cdc-a4c6-e64dd51ad4f0",
      "settingsElementTypeKey": "c6e81d22-c637-48d4-bece-b9f85c0e6f5e",
      "label": "Contact Callback Section"
    }
  ]
}]]></Config>
</DataType>