<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7afb5db5-8594-4716-bf81-6b14cfcf26f0" Alias="ContactEmail" Level="1">
  <Info>
    <Name>ContactEmail</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>