<?xml version="1.0" encoding="utf-8"?>
<DataType Key="317cc095-9fdd-4cde-b349-8553d04dd098" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "05acd94f-7dc0-4f2d-a5d2-21546f03f7a3",
      "label": "Hero Section"
    },
    {
      "contentElementTypeKey": "31daab7b-31f4-4844-a8db-6a42ebc844d0",
      "label": "Service Section",
      "settingsElementTypeKey": "2f3b92a2-cc16-4351-9808-ecff0cd3514a"
    },
    {
      "contentElementTypeKey": "eac6dad7-70fe-41a6-a9e9-9579c0476d5d",
      "label": "Client Section"
    },
    {
      "contentElementTypeKey": "9f8dc3e6-6d4d-44ee-bbc1-744cff5e861f",
      "label": "Success Story Section"
    },
    {
      "contentElementTypeKey": "19f0d484-a84e-4a86-b76f-ba3bc1ea462f",
      "label": "Partner Section"
    },
    {
      "contentElementTypeKey": "321ba16d-e41e-43a2-b81b-72a7fcb4e565",
      "label": "Contact Info Section",
      "settingsElementTypeKey": "82a108b8-27f9-47e0-8c17-b80ccd0ee2e9"
    },
    {
      "contentElementTypeKey": "37973a9b-8618-4a8f-a5e0-fb2d8a2062b0",
      "settingsElementTypeKey": "c6e81d22-c637-48d4-bece-b9f85c0e6f5e",
      "label": "About Callback Section"
    }
  ]
}]]></Config>
</DataType>