<?xml version="1.0" encoding="utf-8"?>
<DataType Key="317cc095-9fdd-4cde-b349-8553d04dd098" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "05acd94f-7dc0-4f2d-a5d2-21546f03f7a3"
    },
    {
      "contentElementTypeKey": "31daab7b-31f4-4844-a8db-6a42ebc844d0",
      "settingsElementTypeKey": "2f3b92a2-cc16-4351-9808-ecff0cd3514a",
      "label": "Service Section"
    },
    {
      "contentElementTypeKey": "c3b2cfe7-124c-403a-aa2f-5e5215b78c78"
    },
    {
      "contentElementTypeKey": "b5a2e1be-ce2f-49f2-9abe-a725d70f3499"
    },
    {
      "contentElementTypeKey": "eac6dad7-70fe-41a6-a9e9-9579c0476d5d",
      "label": "Client Section"
    },
    {
      "contentElementTypeKey": "9f8dc3e6-6d4d-44ee-bbc1-744cff5e861f",
      "label": "Success Story Section"
    },
    {
      "contentElementTypeKey": "19f0d484-a84e-4a86-b76f-ba3bc1ea462f",
      "label": "Partner Section"
    },
    {
      "contentElementTypeKey": "ab062739-6584-46cf-b0d3-e1ffa1662a01",
      "label": "Intro Section"
    },
    {
      "contentElementTypeKey": "676ec4aa-1fdd-42c0-a2b9-df5c57acb7f7",
      "backgroundColor": "#f7f7f7",
      "label": "Testimonial Section",
      "settingsElementTypeKey": "b4c14539-5c36-43c6-a9a2-6a84c5889014"
    }
  ]
}]]></Config>
</DataType>