<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00101ec4-d2c8-4098-9db5-4dd04027772b" Alias="Partner Section - Partner List" Level="1">
  <Info>
    <Name>Partner Section - Partner List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b00cf9ca-37bf-4fe1-b73e-45f07fecf91c",
      "label": "{umbValue: partnerName}"
    }
  ]
}]]></Config>
</DataType>