<?xml version="1.0" encoding="utf-8"?>
<DataType Key="282bec6f-c6db-47c5-a08d-20c3a3e19ae1" Alias="Partner Section - PartnerSource - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Partner Section - PartnerSource - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "da1d2e7f-54d3-425a-8708-fe28a008304e",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "id": "d9f8fa52-1900-4d88-96fa-a2152f6ae689",
    "dynamicRoot": {
      "originKey": "d9f8fa52-1900-4d88-96fa-a2152f6ae689",
      "originAlias": "ByKey"
    }
  }
}]]></Config>
</DataType>