<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d04d8e37-fa4e-4ac9-8744-4c5c9b6ee30d" Alias="Section" Level="1">
  <Info>
    <Name>Section</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "321ba16d-e41e-43a2-b81b-72a7fcb4e565",
      "settingsElementTypeKey": "82a108b8-27f9-47e0-8c17-b80ccd0ee2e9",
      "label": "Contact Info"
    }
  ]
}]]></Config>
</DataType>