<?xml version="1.0" encoding="utf-8"?>
<DataType Key="625c3245-ac58-4a17-89eb-60e08f5e4642" Alias="Service Detail Page" Level="1">
  <Info>
    <Name>Service Detail Page</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1485e401-8960-4b6b-be31-10d0c1ea382d",
      "label": "Question Section"
    },
    {
      "contentElementTypeKey": "321ba16d-e41e-43a2-b81b-72a7fcb4e565",
      "label": "Contact Info Section",
      "settingsElementTypeKey": "82a108b8-27f9-47e0-8c17-b80ccd0ee2e9"
    }
  ]
}]]></Config>
</DataType>