<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e9bab91a-9314-465f-987a-404a4b1abd38" Alias="Service List" Level="1">
  <Info>
    <Name>Service List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ddd29231-3aec-4a4d-8f29-b97ec4f18b8d",
      "label": "{umbValue: serviceTitle}"
    }
  ]
}]]></Config>
</DataType>