<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0bdc865d-6ba7-43ef-aa6b-01d238dc13b1" Alias="Success Story Stat" Level="1">
  <Info>
    <Name>Success Story Stat</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "595b21e3-267b-4e2a-a575-3896f69cd5ea",
      "label": "{umbValue: successItemTitle}"
    }
  ]
}]]></Config>
</DataType>