<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75fe7c0c-3a7e-4da3-9ef6-03e99b83c6f8" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4fc1bcde-af79-4fee-808b-3edeafc14cf8",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>